{# src/sil14/VitrineBundle/Resources/views/Default/index.html.twig #}
{% extends "sil14VitrineBundle::layout.html.twig" %}

{% block content %}
    <h1>Accueil</h1>
    Bienvenu sur mon super site de ventes!
{% endblock %}
