{# src/sil14/VitrineBundle/Resources/views/Default/index.html.twig #}
{% extends "sil14VitrineBundle::layoutAdmin.html.twig" %}

{% block content %}
    <h1>Administration</h1>
    Bienvenu sur l'admin de mon super site de ventes!
{% endblock %}
